body {
    font-family: sans-serif;
}
  
a {
  color: rgb(171, 132, 194);
}
  
a:hover {
    color: #00aeff;
}
  
.clear {
  clear: both;
}
  
header {
  margin-bottom: 20px;
  padding: 30px;
  border-bottom: 5px double rgb(94, 204, 255);
}
  
header h1 {
  font-size: 2em;
}
  
header nav ul li {
  display: inline;
}
  
#aboutme, #projects  {
  margin: 0 auto; 
  width: 90%;
  max-width: 600px;
}

.project {
  margin-bottom: 20px;
  border-bottom: 1px solid rgb(0, 174, 255);
}
  
.project img, #aboutme img  {
  width: 500px;
  float: left;
  margin-right: 15px;
  margin-bottom: 30px;
}
  
.project h2, #aboutme h2  {
  font-size: 1.5em;
  margin-bottom: 10px;
}
